.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 24px;
    background-color: #fff;
    color: #000000;
}

.error {
    color: red;
    margin-bottom: 10px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffdddd;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}